<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="EnabledTracking" value="true"/>
    <add key="TestMode" value="true" />
    <add key="TestModeValue" value="19/06/2018" />
    <add key="PeriodoEjecucionSegundos" value="10" />
    <add key="LogFilePath" value="C:\SmartParkingLogs\" />
    <add key="XmlMensajes" value="Mensajes.xml" />
    <add key="LenguajeMensaje" value="ES" />
    <add key="HourUpdateTimeBegin" value="04" />
    <add key="LogUpdateFileName" value="updateLogFile.txt" />
    <add key="UrlSQL" value="Data Source=169.47.207.158;Initial Catalog=Parking;User ID=AdminParkingUser;Password=P4rqu1ng+" />
    <add key="UrlFireBird" value="User ID=SYSDBA;Password=masterkey;Database=C://magister/datos/magisterz.mgt;DataSource=localhost;Charset=NONE;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_CentralService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="basicHttpBinding_ModuloService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="basicHttpBinding_NetelService" closeTimeout="00:01:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="basicHttpBinding_NetelService1" />
        <binding name="basicHttpBinding_VisionService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRegistroArchivosService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" allowCookies="false">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IArteMediaService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" allowCookies="false">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IUpdateService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" allowCookies="false">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:81/EGlobalService/Payment_ArteMediaService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IArteMediaService" contract="Payment_ArteMediaService.IArteMediaService" name="WSHttpBinding_IArteMediaService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost/EGlobalService/Payment_ModuloService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_ModuloService" contract="Payment_ModuloService.IModuloService" name="basicHttpBinding_ModuloService" />
      <endpoint address="http://localhost:81/EGlobalService/Payment_RegistroArchivosService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRegistroArchivosService" contract="Payment_RegistroArchivosService.IRegistroArchivosService" name="WSHttpBinding_IRegistroArchivosService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:81/EGlobalService/Payment_UpdateService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUpdateService" contract="Payment_UpdateService.IUpdateService" name="WSHttpBinding_IUpdateService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:84/EGlobalService/Payment_NetelService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_NetelService" contract="Payment_NetelService.INetelService" name="basicHttpBinding_NetelService" />
      <endpoint address="http://localhost:81/EGlobalService/Payment_CentralService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_CentralService" contract="Payment_CentralService.ICentralService" name="basicHttpBinding_CentralService" />
      <endpoint address="http://localhost:85/EGlobalService/Payment_VisionService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_VisionService" contract="Payment_VisionService.IVisionService" name="basicHttpBinding_VisionService" />
    </client>
  </system.serviceModel>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>